[Unit]
Description=ROT13 demo service

[Service]
User=arwa
WorkingDirectory=/home/arwa
ExecStart=/home/arwa/kernel_logs.sh

[Install]
WantedBy=multi-user.target 